.tabordion {
  color: #333;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
  display: table;
}

.tabordion input[type="radio"] {
   position: absolute;
	top: -9999px;
	left: -9999px;
}

.tabordion section {
  display: table-cell;
}

.tabordion section label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  background: #ccc;
  border:1px solid #fff;
}

.tabordion section article {
  position: absolute;
  left: 0;
  padding: 0 0 0 14px;
  display: none;
}

.tabordion input[type="radio"]:checked + label { 
  background: #eee; 
}

 .tabordion input[type="radio"]:checked ~ article {
    display: block;
  }